.input, .agregar {
    border: 2px solid #2e1f27;
    border-radius: 5px;
    width: 150px;
    margin-left: 5px;
    font-weight: bolder;
    vertical-align: middle;
    height: 40px;
}

.borrar{
    font-weight: bolder;
    height: 30px;
    width: 150px;
    margin-top: 5px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

