.boxCarrito {
    display: inline-flex;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    align-items: center;
}

#detalleCarrito {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 10px;
    font-weight: bolder;
    color: #2e1f27;
    border: 2px solid #2e1f27;
    border-radius: 5px;
    background-color: #f4c95d;
    width: 35px;
    height: 35px;
    overflow: none;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

#detalleCarrito:active {
    transform: scale(0.8);
}

.fotito {
    height: 100px;
    width: 100px;
    border: 2px solid #2e1f27;
}