.link {
    text-decoration: none;
    color: #2e1f27;
    font-size: 30px;
}

.redes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contenido {
    justify-content: space-between;
    padding: 20px;
    display: flex;
    text-align: center;
    margin-top: 5px;
    font: 35px bolder;
    border-top: 5px solid #2e1f27;
    background-color: #EADA6F;
    overflow: auto;
}

.footer {
    height: 430px;
    background-color: #EADA6F !important;
}

#titulo {
    text-align: center;
    font: 40px bolder;
    color: #2e1f27;
    font-family: "Lobster", cursive;
    margin-top: -50px;
    margin-bottom: 10px;
    -webkit-text-stroke: 0.7px #f4c95d;
}