#h1 {
    font-size: 60px;
    margin-left: 10px;
    color: #2e1f27;
    font-family: "Lobster", cursive;
    -webkit-text-stroke: 1.5px #f4c95d;
}

#h2 {
    font-size: 30px;
    margin-left: 10px;
    color: #2e1f27;
    font-family: "Lobster", cursive;
    margin-top: 30px;
    margin-bottom: 20px;
    -webkit-text-stroke: 0.7px #f4c95d;
}

span {
    color: #f4c95d;
    -webkit-text-stroke: 1.5px #2e1f27;
}

.header {display: flex;}