.tarjetas {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    text-align: center;
    font: 40px bolder;
    color: #2e1f27;
    font-family: "Lobster", cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-text-stroke: 0.7px #f4c95d;
}

img {
    height: 180px;
    width: 180px;
    padding: 5px;
}

#card {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    border: solid 3px;
    border-color: #f4c95d;
}

.img {
    height: 190px;
    width: 190px;
    object-fit: cover;
    border: solid 2px;
    border-color: #f4c95d;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.card-prize,
.card-text {
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

.card:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
    background: #2e1f27;
    background: linear-gradient(150deg, rgb(136, 54, 2) 0%, rgb(255, 165, 66) 49%, rgb(252, 176, 69) 68%, rgb(221, 143, 35) 88%, rgb(198, 116, 0) 100%);
}

.cantidad {
    display: flex;
    justify-content: center;
}

.cantidades {
    display: inline-flex;
    padding: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.centro, .tarjetola {
    display: flex;
    justify-content: center;
}

#detalle {
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: bolder;
    color: #2e1f27;
    border: 2px solid #2e1f27;
    border-radius: 5px;
    background-color: #f4c95d;
    width: auto;
    overflow: none;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}